html{
    color: aliceblue;
}
body{
    margin: 0;
    padding: 0;
    background: url(img/happy.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.formulario  {
    margin-left: 800px;
}